@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 10rem;
    background-color: #f2f2f2;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.player-list,
.my-team {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.player-list h2,
.my-team h2 {
    margin-top: 0;
}

.filters {
    display: flex;
    align-items: center;
}

.filters input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: max-content;
}

.filters select {
    padding: 10px;
    margin-bottom: 10px;
    width: max-content;
}

.filters button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: max-content;
}

.filters button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#save-team-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#save-team-btn:hover {
    background-color: #218838;
}




.players-area .players {
    position: relative;
    margin-bottom: 1rem;
    border: 4px solid transparent;
    border-radius: 0.875rem;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.players-area .players-image>img {
    width: 100%;
    border-radius: 0.625rem;
}

.players-area .players-hover {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    padding: 1rem;
    opacity: 0;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.players-area .player-buttom {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(0deg, #181813 0%, rgba(24, 24, 19, 0) 174.29%);
    bottom: 0;
}
.players-area .team-upper {
    background: linear-gradient(180deg, #181813 0%, rgba(24, 24, 19, 0) 174.29%);
    bottom: 68px;
}

.players-area .players-hover .players-title {
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Jacques Francois', serif;
}

.players-area .players-hover .players-team {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Jacques Francois', serif;
}

.players-area .players-hover .btn-players {
    width: 2.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFB338;
    border-radius: 30%;
    border: 3px solid transparent;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.players-area .players-hover .btn-players:focus {
    border-color: #fff;
}

.players-area .players-hover .btn-players>.fa-cart-white {
    color: #fff;
    pointer-events: none;
}

.players-area .players:hover {
    border-color: #FFB338;
}

.players-area .players:hover .players-hover {
    opacity: 1;
}